*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}
.main{
    width: 100vw;
    min-height: 100vh;
    font-family: font2;

}
@font-face {
    font-family: font1;
    src: url(font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2);
}
@font-face {
    font-family: font2;
    src: url(font/AmericanSansLight.woff2);
}
.bookingWindow{
    width: 100vw;
    height: 60vh;
    background-image: url(https://images.unsplash.com/photo-1513581166391-887a96ddeafd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 15vmax;
    margin-left: -5vmax;
}

nav{
    width: 100vw;
    height: 11vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBtn button{
    padding: 0.75vmax 1vmax;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(235, 46, 46);
    font-family: font2;
    margin-left: 0.5vmax;
}
.navBtn{
    display: flex;
    justify-content: space-around;
}
.navBtn a{
    margin-left: 2vmax;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    /* flex-direction: row;
    justify-content: center; */
    margin-left: 5vmax;
    font-size: 1.01vmax;
}
.navBtn a>img{
    width: 1.5vmax;
    height: 1.5vmax;
}

.bookingDiv{
    width: 75%;
    height: 65%;
    background-color: rgb(11, 10, 10);
    opacity: 0.9;
    margin-top: 2vmax;
    border-radius: 3px;
    overflow: hidden;
}
.bookingHead{
    width: 100%;
    height: 38%;
    background-color: #DAECF8;
    display: flex;
    align-items: center;
    padding: 2.8vmax;
    position: relative;
}
.bookingHead h1{
    color: rgb(235, 46, 46);
    font-weight: 400;
    font-size: 2.5vmax;
    font-weight: 700;
    letter-spacing: 0.4vmax;

}

.bookingTools{
    height: 70%;
    width: 100%;

}
.toolDiv1{
    width: 30%;
    height: 40%;
    margin-left: 2vmax;
}
.toolDiv1 button{
    padding: 1vmin;
    background-color: transparent;
    border: 1px solid rgb(235, 46, 46);
    border-radius: 3px;
    margin-top: 1.7vmax;
    color: rgb(235, 46, 46);
}

.toolDiv2{
    width: 95%;
    height: 40%;
    margin-left: 2vmax;
    display: flex;
    gap: 1vmax;
}
.toolDiv2 div{
    width: 12vmax;
    height: 4vmax;
    border: 0.8px solid #D0DAE0;
    border-radius: 3px;

}
.toolDiv2 div:nth-child(1){
    width: 19vmax;
    background-color: white;
}
.toolDiv2 div:nth-child(2){
    width: 19vmax;
}
.toolDiv2 button{
    width: 12vmax;
    height: 4vmax;
    border-radius: 3px;
    border: none;
    font-size: 1.15vmax;
    font-family: font2;
    font-weight: 500;
    color: white;
    /* background-color: #0078D2; */
    background-color: rgb(235, 46, 46);

}

.toolDiv2 div>h5{
    color: #5f7784f7;
    font-size: 1vmax;
    font-weight: 500;
    padding: 1vmax;
}
.toolDiv2 div>h5>span{
    font-weight: 900;
    font-size: 0.95vmax;
    margin-bottom: 1vmax;
}
.depart{
    width: 100%;
    height: 100%;
    padding: 0 2vmax;


}
.return{
    width: 100%;
    height: 100%;
    padding: 0 2vmax;


}

form input{
    /* background-color: #0078D2; */
    width: 17.2vmax;
    height: 4vmax;
    border: 0.2px solid #D0DAE0;
    padding: 0 2vmax;
    /* border: none; */
    border-radius: 3px;
    background-color: white;

}
/* ----------------------------------------PAge 1 starting----------------------------------------  */

.page1{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}
.page1 h4,.page1 h2{
    margin-left: 8vmax;
    margin-top: 3vmax;
}
.page1 h4{
    font-weight: 300;
}
.page1 h4>span{
    color: rgb(235, 46, 46);
;
}
.page1 h2{
    font-weight: 500;
    font-size: 3vmax;
}

.tripOption{
    display: flex;
    justify-content: space-evenly;
    padding: 0 3vmax;
    margin-top: 3vmax;
}
.tripOption div>form>input{
    padding: 0 1.5vmax;
    margin-top: 1vmax;
    color: gray;
}
.tripOption div>form>h5{
    color: rgb(235, 46, 46);
    font-weight: 400;
    padding-left: 1vmax;
}
/* .optionCards{
    width: 100vw;
    height: 80vh;
    background-color: #0078D2; */

/* } */
.optionCards{
    width: 100vw;
    height: 60vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.optionCards div{
    border-radius: 50px;
    transition: all ease 0.5s;
    border: 2px solid rgb(235, 46, 46);

}
.optionCards div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.div1{
    width: 55%;
    height:50%;
    background-color: #FFFFFF;
    background-image: url(https://images.unsplash.com/photo-1603262110263-fb0112e7cc33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80);
    background-position: center;
    background-size: cover;
    position: relative;
   
}
.optionCards div h1{
    font-weight: 900;
    color: #ffffff;
    font-size: 6vmax;
    letter-spacing: 1vmax;
    
}
.h1-1{
    display: block;
}
.h1-2,.h1-2,.h1-3,.h1-4,.h1-5{
    display: none;

}

.div2{
    width: 10%;
    height:50%;

    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1608181017892-cc4a542570d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
    background-position: center;
    background-size: cover;
    position: relative;
}
.div3{
    width: 10%;
    height:50%;

    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1586927090041-3cf674cd1a37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
    background-position: center;
    background-size: cover;
   
    
}
.div4{
    width: 10%;
    height:50%;

    background-color: green;
     background-image: url(https://images.unsplash.com/photo-1512343879784-a960bf40e7f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
    background-position: center;
    background-size: cover;
}
.div5{
    width: 10%;
    height:50%;

    background-color: orange;
     background-image: url(https://images.unsplash.com/photo-1566873535350-a3f5d4a804b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-position: center;
    background-size: cover;
}